
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definition for BookRepository -->

    <bean id="BookRepository" class="com.library.Repository.BookRepository"/>
    <bean id="BookServices" class="com.library.services.BookServices">
        <property name="BookRepository" ref="BookRepository"/>
</bean>
</beans>